@use '@angular/material'as mat;
@import 'lib/sass/theme/build';

.sidenav-header {
  margin: 0;
  // height: $apex-global-header-height;
}

::ng-deep {
  apex-sidenav-toggler {
    height: 100%;
    background-color: mat.get-color-from-palette($mat-apex-accent, 700);
    margin-right: 8px;

    button {
      height: 100%;
      width: 70px;
    }
  }
}
