<mat-toolbar class='bg-white flex-shrink-0' *ngIf='selectedQuestions.length <= 0'>
    <div>Questions Assigned to Topic</div>
  
    <div class='flex-fill'></div>
  
    <button mat-raised-button color='accent' (click)='emitAddQuestion.emit()'
      matTooltip='Create new question and assign to topic'>
      Add Question
    </button>
  
  </mat-toolbar>
  
  <mat-toolbar color='primary' class='flex-shrink-0' *ngIf='selectedQuestions.length > 0'>
  
    <button mat-raised-button color='accent' (click)='onUnassignQuestions()'>
      <mat-icon>chevron_left</mat-icon> Unassign {{selectedQuestions?.length}}
      {{selectedQuestions?.length | pluralCase:'Question'}}
    </button>
  
  </mat-toolbar>
  
  <div class='grid-container p-0'>
    <ag-grid-angular class="ag-theme-alpine" [rowData]='rowData' [gridOptions]='gridOptions'>
    </ag-grid-angular>
  </div>
  